/* Main Style for each page */
html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: hsl(0, 0%, 16%);
}

main {
    flex: 1;
    margin: 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    background: 
    linear-gradient(to bottom, #E31E24 50%, #1D3580 50%);
    border-style: none;
    border-radius: 80px;
}

footer {
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    color: white;
    font-style: bold;
    padding: 0rem 1rem;
    background: 
    linear-gradient(to bottom, #E31E24 50%, #1D3580 50%);
    border-style: none;
    border-radius: 20px 20px 0px 0px;
}

header, footer {
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*logo image*/
#logo {
    display: block;
    width: clamp(5rem, 10vw, 10rem);
    height: auto;
}

/* Navigation bar styles */
#navbar ul {
    list-style: none;
    overflow: visible;
    display: flex;
}

#navbar a {
    position: relative;
    display: block;
    text-decoration: none;
    
    margin: 0.8rem;
    padding: 1rem;

    color: white;
    font-weight: bold;
    font-size: 1.5rem;

    border-style: hidden;
    border-radius: 25px;

    transition: transform 0.2s ease, background-color 0.2s ease, backdrop-filter 0.2s ease;
}

#navbar a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    color: white;

    transform: scale(1.1);
    transition: 0.25s ease;
}

#navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;

    width: 0;
    height: 2px;
    background-color: white;

    transition: all 0.3s ease;
    transform: translateX(-50%);
}

#navbar a:hover::after {
    width: 100%;
}
/* admin dworpdown style */
.adminDropdown {
    position: relative;
}

.dropdown {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
    
    background-color: hsl(0, 0%, 16%);
    border-radius: 15px;
    border-top: 4px solid #E31E24;
    border-bottom: 4px solid #1D3580;

    flex-direction: column;
}

#navbar .dropdown a {
    display: block;
    text-align: left;
    color: ivory;
    font-size: 1.1rem;
    margin: 0 !important;
    border-radius: 15px;
    
}

#navbar .dropdown a:hover {
    transform: scale(1) !important;
}

.adminDropdown:hover .dropdown {
    display: flex !important;
}

/* login button and window style */
#loginButton {
    margin-left: auto;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    height: 3rem;

    text-decoration: none;
    cursor: pointer;

    background-color: transparent; 
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;

    border: 3px solid rgba(255, 255, 255, 0.4); 
    border-radius: 25px;
    transition: transform 0.2s ease, background-color 0.2s ease, backdrop-filter 0.2s ease;
}

#loginButton:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    border-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#loginWindow {
    position: fixed;
    width: 30%;
    height: auto;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 1002;

    background-color: #1a1a1a;
    color: white;
    border-top: 10px solid #E31E24;
    border-bottom: 10px solid #1D3580;
    border-radius: 12px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0.8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#loginWindow.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); 
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#loginForm label {
    font-size: 1.2rem;
}

#formButtons {
    display: flex;
    flex-direction: row; 
    gap: 10px;
    margin-top: 15px;
}
 #formButtons input {
    flex: 1;
 }

 .checkboxSquare {
    display: block;
    margin: auto;
 }

 #pageTitle {
    font-size: 3rem;
    text-align: center;
    color: ivory;
    margin-top: 1rem;
}

#pageText {
    font-size: larger;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    color: ivory;
    text-align: center;

}